* {
  font-family: "Lobster", cursive;
  margin: 0;
  padding: 0;
}

#pageLoading {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 0;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #22577E;
  z-index: 9999999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}

.allrains {
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  left: 0;
  top: 0;
}
@-webkit-keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}
@keyframes falling {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}
.allrains [class^=rain] {
  background-color: #909090;
  width: 1px;
  height: 40px;
  border-radius: 0;
  -webkit-animation: falling 2s infinite;
          animation: falling 2s infinite;
}
.allrains .rain1 {
  position: absolute;
  left: 16.6532990526%;
  top: -2.0526178874%;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.allrains .rain2 {
  position: absolute;
  left: 88.7565056624%;
  top: -19.7592340865%;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.allrains .rain3 {
  position: absolute;
  left: 86.4368684046%;
  top: 22.6806935338%;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.allrains .rain4 {
  position: absolute;
  left: 91.6529675721%;
  top: 43.4100173425%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.allrains .rain5 {
  position: absolute;
  left: 68.9497754108%;
  top: -21.1113153712%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.allrains .rain6 {
  position: absolute;
  left: 48.7992792281%;
  top: 46.3041941858%;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.allrains .rain7 {
  position: absolute;
  left: 50.9052485552%;
  top: -1.2555127484%;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.allrains .rain8 {
  position: absolute;
  left: 55.1908005475%;
  top: -8.7667042496%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.allrains .rain9 {
  position: absolute;
  left: 58.1333653505%;
  top: 4.9128455459%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.allrains .rain10 {
  position: absolute;
  left: 49.9374737996%;
  top: 35.704753607%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.allrains .rain11 {
  position: absolute;
  left: 9.8389404725%;
  top: 26.9250810016%;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.allrains .rain12 {
  position: absolute;
  left: 31.9658138269%;
  top: 46.9031437993%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
.allrains .rain13 {
  position: absolute;
  left: 82.1979877137%;
  top: 13.5524848338%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}
.allrains .rain14 {
  position: absolute;
  left: 81.652752411%;
  top: -3.3967797957%;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}
.allrains .rain15 {
  position: absolute;
  left: 28.5565915347%;
  top: -6.1686031817%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
.allrains .rain16 {
  position: absolute;
  left: 10.722963848%;
  top: -12.1818219654%;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}
.allrains .rain17 {
  position: absolute;
  left: 55.4838681013%;
  top: 6.8433097482%;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}
.allrains .rain18 {
  position: absolute;
  left: 35.1789423246%;
  top: -27.3111135722%;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}
.allrains .rain19 {
  position: absolute;
  left: 41.7411279898%;
  top: -23.2326493918%;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}
.allrains .rain20 {
  position: absolute;
  left: 33.1197024709%;
  top: 11.8799792001%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.allrains .rain21 {
  position: absolute;
  left: 87.8442115674%;
  top: 37.371703873%;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}
.allrains .rain22 {
  position: absolute;
  left: 38.8037936794%;
  top: -1.7392046522%;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}
.allrains .rain23 {
  position: absolute;
  left: 94.2683677802%;
  top: -10.8408658453%;
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.allrains .rain24 {
  position: absolute;
  left: 77.7797487757%;
  top: -20.9022951763%;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}
.allrains .rain25 {
  position: absolute;
  left: 65.7990745447%;
  top: 49.1057834564%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
.allrains .rain26 {
  position: absolute;
  left: 5.3944556856%;
  top: 34.405200593%;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}
.allrains .rain27 {
  position: absolute;
  left: 62.2965295318%;
  top: -11.0802163943%;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}
.allrains .rain28 {
  position: absolute;
  left: 32.4430261047%;
  top: 11.1187842811%;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}
.allrains .rain29 {
  position: absolute;
  left: 31.9141028345%;
  top: 38.7474876703%;
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}
.allrains .rain30 {
  position: absolute;
  left: 35.1187455386%;
  top: -1.0158017024%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.allellipses [class^=ellipse] {
  border: 5px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 100px;
}
.allellipses .ellipse1 {
  width: 300px;
  height: 50px;
  border-radius: 0;
  border-radius: 50%;
  -webkit-animation: ell1ani 1.6s infinite;
          animation: ell1ani 1.6s infinite;
}
.allellipses .ellipse2 {
  width: 400px;
  height: 80px;
  border-radius: 0;
  border-radius: 50%;
  -webkit-animation: ell2ani 1.6s 0.1s infinite;
          animation: ell2ani 1.6s 0.1s infinite;
}
@-webkit-keyframes ell1ani {
  0% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 150px;
    border-radius: 0;
    border-radius: 50%;
    border: 1px;
  }
}
@keyframes ell1ani {
  0% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 150px;
    border-radius: 0;
    border-radius: 50%;
    border: 1px;
  }
}
@-webkit-keyframes ell2ani {
  0% {
    opacity: 1;
  }
  100% {
    width: 600px;
    height: 240px;
    border-radius: 0;
    border-radius: 50%;
    border: 1px;
  }
}
@keyframes ell2ani {
  0% {
    opacity: 1;
  }
  100% {
    width: 600px;
    height: 240px;
    border-radius: 0;
    border-radius: 50%;
    border: 1px;
  }
}

.logoloading {
  width: 200px;
  z-index: 50;
  -webkit-animation: fallinglogo 0.8s infinite alternate;
          animation: fallinglogo 0.8s infinite alternate;
}
@-webkit-keyframes fallinglogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
}
@keyframes fallinglogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
}

body {
  background-color: #22577E;
}

body.appear {
  background-color: #bfe5f7;
}

.splashbg {
  display: none;
  content: "";
  position: fixed;
  -webkit-transform: scale(100);
          transform: scale(100);
  background-color: #bfe5f7;
  z-index: 999;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
}

body.appear .splashbg {
  display: block;
  border-radius: 50%;
  -webkit-animation: PageAnime 1s forwards;
          animation: PageAnime 1s forwards;
}
@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform: scale(100);
            transform: scale(100);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}
@keyframes PageAnime {
  0% {
    -webkit-transform: scale(100);
            transform: scale(100);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

#home {
  opacity: 0;
}

body.appear #home {
  -webkit-animation: PageAnimeAppear 1s 0.8s forward;
          animation: PageAnimeAppear 1s 0.8s forward;
  opacity: 1;
}
@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  line-height: 1.7;
  background-image: url(../image/home.png);
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #22577E;
}
a:hover {
  color: #A45D5D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

.logo {
  width: 93px;
  height: auto;
  margin-top: 14px;
  margin-left: 20px;
}

#page-header {
  width: 123px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  margin: 20px auto;
}

@media only screen and (max-width: 599px) {
  .allellipses [class^=ellipse] {
    margin-top: 50px;
  }
  .allellipses .ellipse1 {
    width: 150px;
    height: 40px;
    border-radius: 0;
    border-radius: 50%;
    -webkit-animation: ell1ani 1.6s infinite;
            animation: ell1ani 1.6s infinite;
  }
  .allellipses .ellipse2 {
    width: 200px;
    height: 60px;
    border-radius: 0;
    border-radius: 50%;
    -webkit-animation: ell2ani 1.6s 0.1s infinite;
            animation: ell2ani 1.6s 0.1s infinite;
  }
  @-webkit-keyframes ell1ani {
    0% {
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 80px;
      border-radius: 0;
      border-radius: 50%;
      border: 1px;
    }
  }
  @keyframes ell1ani {
    0% {
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 80px;
      border-radius: 0;
      border-radius: 50%;
      border: 1px;
    }
  }
  @-webkit-keyframes ell2ani {
    0% {
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 120px;
      border-radius: 0;
      border-radius: 50%;
      border: 1px;
    }
  }
  @keyframes ell2ani {
    0% {
      opacity: 1;
    }
    100% {
      width: 250px;
      height: 120px;
      border-radius: 0;
      border-radius: 50%;
      border: 1px;
    }
  }

  .logoloading {
    width: 100px;
  }
  @-webkit-keyframes fallinglogo {
    100% {
      -webkit-transform: translate(0px, 20px);
              transform: translate(0px, 20px);
    }
  }
  @keyframes fallinglogo {
    100% {
      -webkit-transform: translate(0px, 20px);
              transform: translate(0px, 20px);
    }
  }

  body {
    background-image: url(../image/homesp.png);
  }
  body a {
    font-size: 16px;
  }

  #page-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  body {
    background-image: url(../image/homeipad.png);
  }
  body a {
    font-size: 18px;
  }

  #page-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }
}