.resume
  .top
    img.plane(src="https://i.gyazo.com/0a22f0194d787714c5cad7ad7e69c4a9.png", alt="")
    .decoration
    .toptotal
      .left1
        img.picture(src="https://i.gyazo.com/b931302f317d17538b26e883dad375ac.jpg", alt="")
        
        .name
          h1 
            |黄媺臻
            span コウビシン
          
          .add
            img.icon(src="https://i.gyazo.com/24eab88a7c892782a3240ecf951c5dc3.png", alt="")
            ul
              li gdr3.c.b.kou@gmail.com


      .right2
        .circle
         
        
        
        
  .bottom
    .left3
      h2.hr 自己PR
      hr
      p 東京デザイナー学院の黄媺臻です。私の長所は「行動を取ること」です。webデザイナーになるため、学校以外のオンライン授業も受けております。html、css、javascriptの他にも、pug、sass、jqueryのコーディングができます。
      p 面白い動きでモノづくりを実現できるよう、日頃からデザインを学び続けております。
      

      
      h2.pa40 学歴
      ul.ed
        li.year 2016.09~2020.06 
          ul
            li 台湾.世新大学　人文社会学部日本語日本文学科
        li.year 2020.11~2021.03
          ul
            li 千駄ヶ谷日本語学校
        li.year 2021.04~　　現在
          ul
            li ・東京デザイナー学院　
           
      h2.pa40 資格
      ul.certification
        li JLPT日本語能力試驗N1
        li J.TEST實用日本語檢定Pre-B
        li BJT商務日語能力考試J2
    .right4
     h2 コーディング
     ul.listCp
      li.no HTML
        .bar1.c3
          .smcircle.smcircle1 
          .smcircle.smcircle2 
          .smcircle.smcircle3 
          
          .smcircle.smcircle4 
          .smcircle.smcircle5
      li Pug
        .bar1.c3
          .smcircle.smcircle1
          .smcircle.smcircle2 
          .smcircle.smcircle3 
            
          .smcircle.smcircle4 
          .smcircle.smcircle5
      li CSS
        .bar1.c3
          .smcircle.smcircle1 
          .smcircle.smcircle2 
          .smcircle.smcircle3 
           
          .smcircle.smcircle4 
          .smcircle.smcircle5
      li Sass
        .bar1.c3
          .smcircle.smcircle1 
          .smcircle.smcircle2 
          .smcircle.smcircle3 
            
          .smcircle.smcircle4 
          .smcircle.smcircle5 
          
      li JavaScript
        .bar1.c2
          .smcircle.smcircle1 
          .smcircle.smcircle2
            
          .smcircle.smcircle3 
          .smcircle.smcircle4 
          .smcircle.smcircle5 
      li JQuery
        .bar1.c2
          .smcircle.smcircle1 
          .smcircle.smcircle2
            
          .smcircle.smcircle3 
          .smcircle.smcircle4 
          .smcircle.smcircle5 
          
          
      h2.pa40 スキル
      ul.listSkill
        li.no Ai
          .bar2
            .valus.p80
        li Ps
          .bar2
            .valus.p80
        li Dw
          .bar2
            .valus.p80
        li Xd
          .bar2
            .valus.p80
        li Fr
          .bar2
            .valus.p50