doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Works 
        link(rel="icon", href="../image/logonew.svg")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="css/works.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap")
    body 
        #pageLoading
        .splashbg
        #top.big-bg
            header#page-header 
                a(href="../index.html")
                    img.logo(src="../image/logotop.svg", alt="ホーム")
                nav
                    ul.main-nav
                        li.txt
                            a(href="../about/about.html") About
                        li.txt
                            a.works(href="../works/works.html") Works
                        li.txt
                            a(href="../contact/contact.html") Contact
        img.line(src="../image/line.png", alt="")
        section#content.bg
            h1 Works 
            .blog    
                .blog_inner
                    .blog_box
                        a(href="../portfolio/portfolio.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                
                                span.mask
                                    img.work(src="image/work1.png", alt="") 
                                    span.cap.p ポートフォリオ
                            .blog_box_txt
                                h3 Ps / Ai / Fr / Xd
                                h3 Pug / Sass / JavaScript / jQuery
                                p 制作期間：1ヶ月
                    .blog_box
                        a(href="../tdg/tdg.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                
                                span.mask
                                    img.work(src="image/work6.png", alt="") 
                                    span.cap.p2 東京デザイナー学院
                            .blog_box_txt
                                h3 Ai / Fr / Xd
                                p 制作期間：1ヶ月
                    .blog_box
                        a(href="../ueno/ueno.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                span.mask
                                    img.work(src="image/work4.png", alt="") 
                                    span.cap 上野恩賜公園
                            .blog_box_txt
                                h3 Ps / Ai / Fr / Xd
                                p 制作期間：5日間
                    .blog_box
                        a(href="../RootOne/RootOne.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                span.mask
                                    img.work(src="image/work2.png", alt="") 
                                    span.cap.w 産学協同
                            .blog_box_txt
                                h3 Ps / Ai / Fr / Xd / codepen
                                h3 Pug / Sass
                                p 制作期間：1ヶ月
                    .blog_box
                        a(href="../100%/100%.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                span.mask
                                    .box_img
                                        img.work(src="image/work3.png", alt="") 
                                        span.cap 100%嘘日記
                            .blog_box_txt
                                h3 Ps / Ai / Fr / Xd
                                h3 HTML / Sass
                                p 制作期間：1週間
                    .blog_box
                        a(href="../resume/resume.html" target="_blank")
                            .blog_box_img
                                .bubble
                                    .cir1 
                                    .cir2 
                                    .cir3
                                span.mask
                                    img.work(src="image/work5.png", alt="") 
                                    span.cap 履歴書
                            .blog_box_txt
                                h3 Ai
                                h3 Pug / Sass
                                p 制作期間：3日間
                    
                    
        footer#footer 
            .footer_inner コウビシン
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js") 
        script(src="../js/splash.js")