doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 履歴書
        link(rel="icon", href="../image/logonew.svg")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="css/resume.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap")
    body 
        #pageLoading
        .splashbg
        #top
            header#page-header 
                .left_header
                    a(href="../index.html")
                        img.logo(src="../image/logotop.svg", alt="ホーム")
                    nav
                        ul.main-nav
                            li.txt
                                a(href="../about/about.html") About
                            li.txt
                                a.works(href="../works/works.html") Works
                            li.txt
                                a(href="../contactcontact.html") Contact
                .right_header
                    .bgc
                    .rootone
                        img.point(src="image/resume.png", alt="")
                        
        img.line(src="../image/line.png", alt="")
        section#content.bg
            
            
            h1 履歴書
            .box
                .pagetop
                    .imgDivpc
                        img.pc(src="image/resumepc.png", alt="")
                    p.sm パソコン版
                    
                .btn
                    .codebtn1 
                        a.coding(href="../CodePen_resume/dist/index.html" target="_blank") コーディング

                    .codebtn2
                .word 
                    
                    .skill 
                        h2 Ai/codepen
                        h2 Pug/Sass
                        h3 制作期間：三日
                        .pic 
                            img.resume(src="image/resumepic.png", alt="")
                        h3.down ・デザインコンセプト：
                        p まず、配色について、四色を使って、色合わせで四種をデザインして、最後は青をメインにした。
                        .color 
                            .block1
                            .block2 
                            .block3
                            .block4
                        p 個人情報のところについて、自分は外国人なので、日本で働きたいため、航空チケットのイメージでデザインした。

                        
        footer#footer 
            .footer_inner コウビシン
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js") 
        script(src="../js/splash.js")
                        
                        


