box
  .scene
    .moon
    .allstars
      .star1 
      .star2 
      .star3 
      .star4 
      .star5 
      .star6 
      .star7 
      .star8 
      .star9 
      .star10 
      .star11 
      .star12 
      .star13 
      .star14 
      .star15 

    .buildings
      .buildingfirst
        .building.building1 
          .window
          .window
          .window
          .window
          .window
          .window

        .building.building2 
          .window 
          .window 
          .window 
          .window 
          .window 

        .building.building3 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 

        .building.building4 
          .window 
          .window 
          .window 
          .window 

        .building.building5 
          .window 
          .window 

        .building.building6 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window
          .window

        .building.building7
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
      .buildingafter
        .building.building1 
          .window
          .window
          .window
          .window
          .window
          .window

        .building.building2 
          .window 
          .window 
          .window 
          .window 
          .window 

        .building.building3 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 

        .building.building4 
          .window 
          .window 
          .window 
          .window 

        .building.building5 
          .window 
          .window 

        .building.building6 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
          .window
          .window

        .building.building7
          .window 
          .window 
          .window 
          .window 
          .window 
          .window 
      
    .bicycle
      .cir
      .cir.cir2
      img.picture1(src="https://i.gyazo.com/e4e88d9f078aae197958be9988dbf9b2.png", alt="")
      img.picture2(src="https://i.gyazo.com/111a0e57f1dd4e608b958c37400c8236.png", alt="")
         
      