doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 100%嘘日記
        link(rel="icon", href="../image/logonew.svg")
        link(rel="stylesheet", href="../css/reset.css")
        link(rel="stylesheet", href="css/100%.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap")
    body 
        #pageLoading
        .splashbg
        #top
            header#page-header 
                .left_header
                    a(href="../index.html")
                        img.logo(src="../image/logotop.svg", alt="ホーム")
                    nav
                        ul.main-nav
                            li.txt
                                a(href="../about/about.html") About
                            li.txt
                                a.works(href="../works/works.html") Works
                            li.txt
                                a(href="../contact/contact.html") Contact
                .right_header
                    .bgc
                    .rootone
                        img.point(src="image/100%diary.png", alt="")
                        
        img.line(src="../image/line.png", alt="")
        section#content.bg
            
            
            h1 100%嘘日記
            .box
                .pagetop
                    .imgDivpc
                        img.pc(src="image/100%pc.png", alt="")
                    p.sm パソコン版
                    
                .btn
                    .codebtn1 
                        a.coding(href="../CodePen_100%/index.html" target="_blank") コーディング

                    .codebtn2
                .word 
                    
                    .skill 
                        h2 Ps/Ai/Fr/Xd
                        h2 HTML/Sass/JavaScript/jQuery
                        h3 制作期間：1ヶ月
                        p.down ・デザインコンセプト：
                        p 　まず、配色について、青をメインにした。自分の日記なので、自分が好きな色にした。
                        .color 
                            .block1
                            .block2 
                        p 　日記は毎日の出来ことを記録するもので、明るい感じを表現したいので、ローディングは簡単なアニメーションで日が昇るのをデザインにした。メインビジュアルは絵日記のような感じで表現したいので、Frで描いた。本文のところを強調するため、飾りをつけた。

                    .page
                        .left
                            h3 ・ページの構成：
                            .marginleft
                                p top
                                    <br class="sp_br">2021.12.25
                                    <br class="sp_br">2022.01.01 
                                    <br class="sp_br">2022.07.01
                        .right
                            img.crab(src="image/crab.png", alt="")
                        
        footer#footer 
            .footer_inner コウビシン
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js") 
        script(src="../js/splash.js")
                        


